* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}


.head{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}


.text-primary {

    color: #fd6e0a;
    
}

.button-primary {


    height: 40px;
    border-radius: 10px;
    background-color: #fd6e0a;
    color: #e8e6e4;
    font-weight: 700;
    font-size: 15px;
    line-height: 0px; 
    border: 0;
    padding: 18px px;  
     gap: 50px;
    margin-top: 30px;
    margin-bottom: 20px; 

       /* height: 50px;
        border-radius: 10px;
        background-color: #fd6e0a;
        color: #f3f1ef;
        font-weight: 700;
        font-size: 20px;
        line-height: 0px; 
        padding: 18px px; */

}

.hire{
        height: 30px;
        border-radius: 10px;
        background-color: #fd6e0a;
        color: #f3f1ef;
        font-weight: 600;
        font-size: 18px;
        line-height: 0px; 
        padding: 1px 15px;
        border: 0px;
}

/* Header and nav style */
.nav-tittle {
    font-weight: 800;
    font-size: 45px;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* ( justify-content: space-between; 2 side a lakha neye gase) */
    padding: 50px 211px;
}

nav li {
    list-style-type: none;
    margin: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* Banner style */

.banner{
    margin: 211px;
    display: flex;
    align-items: center;
}
.tittle{
    font-weight: 600;
    font-size: 45px;
    margin: 20px;

}
.sub-tittle{
    font-weight: 700;
font-size: 85px;
}
/* .button-rimary{
width: 200px;
height: 64px;
background: #FD6E0A;
border: 0;
border-radius: 5px;
} */
.banner-discription{
    color: #757575;
    font-size: 18;

}


/* Main */

main{
    max-width: 1140px;
    /* text-align: center; */
    margin: 0 auto;
}

section{
    margin: 130px;
}


/* About section Style */

.section-head{
margin-top: 130px;
text-align: center;

background: #FFF8F3;
border-radius: 50px;
padding: 130px 150px;


}

.section-tittle{
   
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;


}

.section-discreption{

font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
text-align: center;
color: #757575;
margin-bottom: 30px;

}

.table{
    text-align: center;
    font-size: 15px;
    color: #757575;
    /* justify-content: space-between; */
    display:inline-flexbox;
    
        vertical-align: middle;
    
}

.full-table{

padding: 60px;


}
.what-i-do-description{

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    color: #757575;
    margin-bottom: 30px;


}
.what-tittle{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.what-i-do{

    margin: 130px;
}
.icon-container{
    display: flex;
    gap: 100px;

}

.heading{
    font-weight: 700;
font-size: 20px;
margin-top: 30px;
margin-bottom: 30px;

}

.description{
    font-weight: 40px;
font-size: 15px;
line-height: 25px;
/* or 175% */


/* Dark 03 */

color: #757575;
}
.skill{
    background: #ffffff;
box-shadow: 30px 12px 30px rgba(20, 19, 19, 0.06);
border-radius: 30px;
padding: 10px;
}

.resume-tittle{
    margin: 13px;
    padding: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}


.resum{
    padding: 15px;
    gap: 24px;
  margin-left: auto;
  background: #FFF8F3;
  border-radius: 50px;
  padding: 100px 100px;
}

 .edu-Tittle ,.exp-Tittle{
    font-weight: 700;
    font-size: 30px;

} 
.experience-Tittle{
    font-weight: 700;
    font-size: 30px;

}
.h3{
    font-weight: 700;
font-size: 25px;
line-height: 34px;
/* identical to box height */


/* Dark 02 */

color: #474747;
}


.resume-discription{
    display: flex;
    gap: 24px;
    
}

.education{
  
 left: 230px; 
}
.sub-tittle1{

font-weight: 800;
font-size: 15px;
line-height: 34px;
/* identical to box height */
font-style: oblique;


/* Dark 02 */

color: #474747;
}


.sub-tittle2{

     font-weight: 600;
    font-size: 14px;
    line-height: 27px;

    
    /* Dark 03 */
    
    color: #757575;
}

.about{

    font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 175% */


/* Dark 03 */

color: #757575;
}

.resume-button{

    height: 50px;
    border-radius: 10px;
    background-color: #fd6e0a;
    color: #f3f1ef;
    font-weight: 700;
    font-size: 15px;
    line-height: 0px; 
    padding: 18px px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;



}
  
.r-button{
    text-align: center;
}


.connect-info{
    display: flex;
    margin-top: 100px;
    background: #FFF8F3;
   padding: 100px 100px;
    gap: 100px;
    border-radius: 50px;

}

.connect-head{
    font-weight: 700;
font-size: 25px;
margin-bottom: 20px;
}

.connect{

    text-decoration: none;
}

[type='text'], [type='email'],textarea{
   margin-bottom: 25px;
   border: 0;
   width: 200px;
height: 60px;
border-radius: 10px;
padding: 10px 20px;
}

textarea{
    height: 150px;
}

.connect-desc{

    font-weight: 400;
font-size: 13px;
line-height: 28px;
margin-bottom: 10px;
/* or 175% */


/* Dark 02 */

color: #474747;

}